
body {
    margin: 0;
    background: #ffffff;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    max-width: 450px;
    margin: auto;
    padding-top: 20px;
}




.hello-box {
    background: linear-gradient(135deg, #0285ff, #5ab9ff);
    padding: 18px 20px;
    border-radius: 22px;
    color: white;
    width: 88%;                        /* Reduced width */
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.hello-profile {
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    backdrop-filter: blur(3px);
}

.hello-right p {
    margin: 0;
}

.hello-text {
    font-size: 20px;
    font-weight: 700;
}

.sub-text {
    font-size: 15px;
    opacity: 0.95;
}


/* Grid Layout */
.grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

/* Cards */
.card {
    text-align: center;
    background: #f8fafc;
    border-radius: 18px;
    padding: 12px;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 5px rgba(0,0,0,0.08);
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 14px;
}

.card p {
    margin-top: 8px;
    font-size: 17px;
    font-weight: 600;
}
