


body {
    margin: 0;
    background: #ffffff;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    max-width: 450px;
    margin: auto;
    padding-top: 20px;
}

.back span {
    font-size: 28px;
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-top: 5px;
    font-weight: 600;
}

.profile-photo {
    text-align: center;
    margin-top: 20px;
}

.circle {
    width: 110px;
    height: 110px;
    background: #d6dde8;
    border-radius: 50%;
    margin: auto;
}

.add-photo {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.tap-text {
    margin-top: -5px;
    color: #707a88;
    font-size: 14px;
}

.btn-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.avatar-btn,
.upload-btn {
    padding: 12px 18px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.avatar-btn {
    background: #e9eef4;
    color: #000;
}

.upload-btn {
    background: #6fa8ff;
    color: #fff;
}

form {
    margin-top: 25px;
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: 15px;
}

input,
select {
    width: 100%;
    padding: 14px;
    border: none;
    background: #edf2f7;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;
}

.delete,
.update {
    width: 45%;
    padding: 14px 0;
    border-radius: 18px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.delete {
    background: #ff4d4d;
    color: #fff;
}

.update {
    background: #6fa8ff;
    color: #fff;
}
