{% extends "base.html" %}
{% block content %}


  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h2>Stay on Track with <span>ReMedi</span></h2>
      <p>Organize your medicine schedule,inventory, track hydration, and receive reminders — all in one smart, simple web app built for your health.</p>
      <div class="hero-buttons">
        <a href="/getstarted" class="btn">Get Started</a>
        <a href="#" class="btn-outline">Learn More</a>
      </div>
    </div>
    <div class="hero-image">
      <img src="/static/images/health.jpg" alt="Health illustration">
    </div>
  </section>

  <!-- Features -->
  <section class="features">
    <h3 class="section-title">Why Choose ReMedi?</h3>
    <div class="feature-grid">
      <div class="card fade-in">
        <div class="icon">💊</div>
        <h4>Smart Medicine Tracker </h4>
        <p>Keep your medication routine organized and never miss a dose.</p>
      </div>
      <div class="card fade-in delay1">
        <div class="icon">🔔</div>
        <h4>Timely Reminders</h4>
        <p>Get automatic alerts and notifications for each scheduled dose.</p>
      </div>
      <div class="card fade-in delay2">
        <div class="icon">💧</div>
        <h4>Hydration Monitoring</h4>
        <p>Stay hydrated with our easy water tracking system.</p>
      </div>
      <div class="card fade-in delay3">
        <div class="icon">📄</div>
        <h4>Export Reports</h4>
        <p>Generate and download your personalized health schedules.</p>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="cta">
    <h2>Start your health journey today 🌿</h2>
    <p>Join thousands of users managing their health with ReMedi.</p>
    <a href="/getstarted" class="btn big">Sign Up Free</a>
  </section>

  <!-- Footer -->
  <footer>
    <p>© 2025 ReMedi | Designed for Wellness 💙</p>
  </footer>
{% endblock %}

